doctype html
html(lang="pt-br")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    if htmlWebpackPlugin.options.mobile
      meta(name="viewport", content="width=device-width, initial-scale=1")
    title #{htmlWebpackPlugin.options.title}
    if htmlWebpackPlugin.options.favicon
      link(rel="shortcut icon", href=`${htmlWebpackPlugin.options.favicon}`, type="image/x-icon")
    each file in (htmlWebpackPlugin.files.styles || [])
      link(rel="stylesheet", href=`${file}`)
    each file in htmlWebpackPlugin.files.css
      link(rel="stylesheet", href=`${file}`)
    each file in (htmlWebpackPlugin.options.scripts || [])
      script(href="#{file}")

  body#App(class=`${htmlWebpackPlugin.options.env.NODE_ENV || ''}`)
    //- content
    section#Main(role="main")
      section#Views(data-ui-view) client: up and running

    //- behaviors
    each chunk in htmlWebpackPlugin.files.chunks
      script(src=`${chunk.entry}`)
